@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);


body {
  background-color: #FFFAF5;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.page-name {
    color: #E16A00;
    border: 1px solid #E16A00;
}
.container header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.container header .right_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.container header .right_menu .user_account {
  display: flex;
  column-gap: 8px;
  cursor: pointer;

}

.container header .right_menu .user_account i {
  font-weight: 400;
}

.container header .right_menu .user_account span {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #241400;
  font-weight: 500;
  line-height: normal;
}


.container header .mobile_menu {
  display: none;
  position: fixed;
  width: 95%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(36, 20, 0, 0.90);
  position: fixed;
  width: 100%;
  height: 100vh;
  border-radius: 40px;
  /* display: flex; */
  flex-direction: column;
  row-gap: 25px;
}

.container header .right_menu .hamburger {
  display: none;
  cursor: pointer;
}

.container header .right_menu .hamburger .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  display: block;
  transition: all 0.3s ease-in-out;
  background-color: #000000;
}

.container header .logo img {
    width: 180px;
    height: 70px;
    margin-top: 20px;
    margin-left: 35px;
}

.container header nav ul {
  display: flex;
  align-items: center;
  margin-top: 20px;
  column-gap: 25px;
}

.container header nav ul li {
  position: relative;
}

.container header nav ul li:hover {
  color: #E16A00;
  text-decoration: underline;
}

.container header nav ul li a {
  letter-spacing: 0.5px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #241400;
  font-size: 12px;
}

.container header nav ul li a:hover {
  color: #E16A00;
}
  @media (max-width: 390px) {
    .container header .logo img {
        width: 100px;
        height: 45px;
    }

    .container header nav {
        display: none;
    }
    /* .container header .mobile_menu .mobile_header img {
        height: 40px;
    } */

    .container header .right_menu {
        margin-top: 20px;
        column-gap: 15px;
    }
    /* .container header .right_menu .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .container header .right_menu .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .container header .right_menu .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    } */

  }

  @media (min-width: 391px) and (max-width: 500px) {
   .container header .logo img {
        width: 160px;
        height: 50px;
        margin-left: 35px;
    }

    .container header nav {
        display: none;
    }
    /* .container header .mobile_menu.active .mobile_header img {
        width: 110px;
        height: 40px;
    } */

    .container header .right_menu {
        margin-top: 20px;
        column-gap: 30px;
    }
  }

  @media (min-width: 501px) and (max-width: 768px) {
    .container header .logo img {
        width: 150px;
        height: 70px;
    }

    .container header nav {
        display: none;
    }
    /* .container header .mobile_menu.active .mobile_header img {
        width: 110px;
        height: 40px;
        margin-top: 20px;
        margin-left: 35px;
    } */

    .container header .right_menu {
        margin-top: 20px;
        column-gap: 30px;
    }
  }
  @media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .container header .mobile_menu .navigate {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        text-align: justify;
        margin-bottom: 300px;
    }
    .container header .mobile_menu .navigate img {
        padding: 18px;
    }
    .container header .mobile_menu .navigate ul {
        width: 160px;
        height: 160px;
        padding: 18px;
        border-radius: 35px;
        display: flex;
        flex-direction: column;

        align-items: flex-end;
        row-gap: 30px;

    }

    .container header .mobile_menu .navigate ul li {
        padding: 0;
        margin: 0;
    }

    .container header .mobile_menu .navigate ul li a {
        color: #F2F2F2;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;

    }
    .container header .right_menu .hamburger {
        display: block;
        z-index: 999;
        margin-top: 0;
        margin-right: 35px;
    }
    .container header .right_menu .user_account span {
        display: none;
    }
  }

  @media (min-width: 769px) and (max-width: 992px) {
    .container header .logo img {
        width: 160px;
    }
  }