.container .catalog {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 120px;
  justify-content: space-between;
}

.container .catalog .head h2 {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 800;
}

.container .catalog .type {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.container .catalog .type span {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 500;
}

.container .slide_container {
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 1120px;
  width: 100%;
  height: 480px;
  padding: 0px;
}

.container .slide_container .swiper-pagination {
  margin-top: 520px;

}

.container .slide_container .slide_content {
  margin: 0 40px;
}
.container .slide_container .slide_content .card_wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container .slide_container .slide_content .card_wrapper .card {
  width: 220px !important;
  height: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  position: relative;
}
.container .slide_container .slide_content .card_wrapper .card span {
  position: absolute;
  top: 0;
  right: 0;
  background: #eb5757;
  padding: 3px 7px;
  box-shadow: 0px 3px 8px rgba(225, 106, 0, 0.19);
  border-radius: 3px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 600;
}
.container .slide_container .slide_content .card_wrapper .card .img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .slide_container .slide_content .card_wrapper .card .img img {
  width: 60%;
}
.container .slide_container .slide_content .card_wrapper .card .content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.container .slide_container .slide_content .card_wrapper .card .content h3 {
  text-align: center;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
}
.container .slide_container .slide_content .card_wrapper .card .content p {
  text-align: center;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 300;
}
.container .slide_container .slide_content .card_wrapper .card .content button {
  width: 90%;
  margin: 0 auto;
  background-color: #e16a00;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 8px 0;
}
.container .bestseller {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
.container .bestseller h3 {
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 800;
  margin: 0 auto;
}
.container .new {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
.container .new h3 {
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 800;
  margin: 0 auto;
}

@media (max-width: 390px) {
  .container {
    width: 100%;
  }

  .container .catalog {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    row-gap: 40px;
  }
  .container .catalog .head h2 {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 800;
  }
  .container .catalog .type {
    display: flex;
    gap: 10px;
  }
  .container .catalog .type span {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
  }

}

@media (min-width: 391px) and (max-width: 500px) {
  .container {
    width: 100%;
  }

  .container .catalog {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    row-gap: 40px;
  }
  .container .catalog .head h2 {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 800;
  }
  .container .catalog .type {
    display: flex;
    gap: 20px;
  }
  .container .catalog .type span {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
  }


}

@media (min-width: 501px) and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .container .catalog {
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 120px;
    justify-content: space-between;
  }
  .container .catalog .head h2 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
  }
  .container .catalog .type {
    display: flex;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .container .catalog .type span {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  .container {
    width: 90%;
  }

  .container .catalog {
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 120px;
    justify-content: space-between;
  }
  .container .catalog .head h2 {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 800;
  }
  .container .catalog .type {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .container .catalog .type span {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
  }
}

